:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.special-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin: 0 auto 70px;
  text-transform: uppercase;
  text-align: center;
}

.special-heading h2::after {
  content: "";
  position: absolute;
  bottom: calc(0% - 20px);
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 1px;
  background-color: black;
}

.special-heading h2::before {
  content: "";
  position: absolute;
  bottom: calc(0% - 30px);
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  transition: 0.5s;
}

.special-heading + p {
  text-align: center;
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

.special-heading h2:hover::before {
  background-color: var(--main-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .container {
    width: ;
  }
} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  /* padding-top: 20px;
  padding-bottom: 20px; */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 3;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
  background-color: #a2a2a2;
}

header .container .logo {
  height: 40px;
}

header .container nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

header .container nav i:first-child {
  font-size: 20px;
  color: white;
  padding: 30px 0;
  display: none;
}

header .container nav ul {
  display: flex;
}

header .container nav ul a {
  text-decoration: none;
  color: white;
  padding: 40px 10px;
  display: block;
  transition: all 0.5s;
  font-size: 14px;
  position: relative;
}

header .container nav ul a.active,
header .container nav ul a:hover {
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color);
}

header .container .border {
  width: 1px;
  background-color: white;
  height: 30px;
  margin-left: 20px;
}

header .container nav i:last-child {
  padding-left: 15px;
  font-size: 20px;
  color: white;
  /* position: absolute; */
}

@media (max-width: 767px) {
  header .container nav ul {
    display: none;
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    background-color: rgb(0 0 0 / 80%);
  }

  header .container nav ul a {
    /* text-decoration: none;
    color: white; */
    padding: 20px 10px;
    /* display: block;
    font-size: 14px;
    z-index: 2;
    position: relative; */
    border-bottom: 1px solid #a2a2a2;
  }
  header .container nav i:first-child {
    display: block;
    position: relative;
  }
  header .container nav i:hover:first-child + ul {
    display: flex;
  }
}

.landing {
  height: 100vh;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-color: black;
  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 40px;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing i.change-background {
  color: white;
  z-index: 2;
  position: absolute;
}

.landing i:first-of-type {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: 30px;
}

.landing i:nth-of-type(2) {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 30px;
}

.landing .bullets {
  position: absolute;
  bottom: calc(0% + 30px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing .bullets span {
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  margin-left: 5px;
  margin-right: 5px;
  transition: 0.5s;
}

.landing .bullets span:hover {
  background-color: var(--main-color);
}

.landing .bullets span.active {
  background-color: var(--main-color);
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: center;
  }

  .landing i {
    font-size: 20px;
  }
  .landing i:first-of-type {
    padding-left: 10px;
  }

  .landing i:nth-of-type(2) {
    padding-right: 10px;
  }

  .landing .bullets {
    display: none;
  }
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 100vh;
  background-color: white;
}

.services .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 30px;
}

.services .cards .row {
  display: flex;
  justify-content: space-between;
}

.services .cards .row i {
  margin-right: 50px;
}

.services .cards .row .text {
  margin-bottom: 70px;
}

.services .cards .row .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
  max-width: 100%;
}

.services .cards .row .text p {
  line-height: 2;
  color: #777;
  max-width: 100%;
}

@media (max-width: 767px) {
  .services .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .services .cards .row {
    flex-direction: column;
    text-align: center;
  }

  .services .cards .row i {
    margin: 20px 0;
  }
}

.design {
  display: flex;
  background-image: url("../images/design-features.jpg");
  padding-top: 60px;
  padding-bottom: 60px;
  height: 600px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.design::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.design .image {
  padding-right: 100px;
  z-index: 2;
  margin: 0 100px;
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
  z-index: 2;
  flex: 1;
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text span {
  display: flex;
  padding: 15px 0;
}

.design i {
  padding-right: 15px;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
}

.portfolio .portfolio-content .menu {
  /* margin: auto; */
  text-align: center;
}

.portfolio .portfolio-content span {
  padding: 15px;
  transition: 0.5s;
}

.portfolio .portfolio-content span:hover,
.portfolio .portfolio-content span.active {
  background-color: var(--main-color);
  color: white;
}

.portfolio .portfolio-content .images {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-row-gap: 5px; */
}

.portfolio .portfolio-content .images .box {
  overflow: hidden;
  position: relative;
}
.portfolio .portfolio-content .images img {
  max-width: 100%;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

/* .portfolio .portfolio-content .images img::after {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
  content: "";
} */

.portfolio .portfolio-content .images .caption {
  position: absolute;
  padding: 15px;
  transition: 0.3s;
  background-color: white;
  width: 100%;
  height: 30%;
  bottom: -100%;
}

.portfolio .portfolio-content .images .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .portfolio-content .images .caption p {
  color: var(--main-color);
}

.portfolio .portfolio-content .images .box:hover img + .caption {
  bottom: 0;
}

.portfolio .portfolio-content .images .box:hover img {
  transform: scale(1.1) rotate(2deg);
}

.awesome-video {
  position: relative;
}

.awesome-video video {
  width: 100%;
  /* height: 100vh; */
}

.awesome-video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.awesome-video .text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  /* z-index: 1; */
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}

.awesome-video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.awesome-video .text p {
  margin-bottom: 30px;
}

.awesome-video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .awesome-video .text {
    padding: 30px;
  }
  .awesome-video .text h2 {
    font-size: 16px;
    margin: 0 0 15px;
  }

  .awesome-video .text p {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .awesome-video .text button {
    font-size: 10px;
  }
}

.about-us {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: white;
  position: relative;
}

.about-us + .container {
  overflow: hidden;
  position: relative;
  padding-bottom: 200px;
}

.about-us img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}

@media (max-width: 767px) {
  .about-us + .container {
    padding-bottom: 30px;
  }
  .about-us img {
    top: 65%;
    max-width: 90%;
  }
}

.about-us .stats {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/stats.png");
  position: relative;
}

.about-us .stats::before {
  background-color: #000000b3;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about-us .stats .container {
  z-index: 1;
  position: relative;
  background-color: var(--transparent-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.about-us .stats .container .col {
  text-align: center;
  color: white;
  padding: 50px;
}

.about-us .stats .col i {
  background-color: black;
  border-radius: 50%;
  border: 10px solid black;
  margin: 0 auto 30px;
}

.about-us .stats .col h3 {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.about-us .stats .col p {
  font-size: 14px;
}

.our-skills {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 50px;
}

@media (max-width: 500px) {
  .our-skills .container {
    grid-template-columns: 1fr;
  }
}

.our-skills .container .heading h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
}

.our-skills .container .heading p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}

.our-skills .container .box {
  display: flex;
  align-items: center;
}

.our-skills .container .box img {
  border-radius: 50%;
  width: 100px;
  margin: 30px;
}

.our-skills .container .box .text {
  flex: 1;
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.our-skills .container .box .text .name {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skills .container .section-one .bullets {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 40px;
}

.our-skills .container .section-one .bullets span {
  border: 1px solid #777;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.5s;
}

.our-skills .container .section-one .bullets span.active {
  background-color: var(--main-color);
}

.our-skills .container .section-one .bullets span:hover {
  background-color: var(--main-color);
}

.our-skills .container .skills .skill {
  margin-bottom: 40px;
}

.our-skills .container .skills .skill h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.our-skills .skill .progress-one {
  background-color: #dedadc;
  height: 30px;
  width: 100%;
  position: relative;
}

.our-skills .skill .progress-one::before {
  content: "";
  background-color: var(--main-color);
  width: 90%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.our-skills .skill .progress-one::after {
  content: "90%";
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 90%;
  transform: translateX(-50%);
  top: -120%;
}
.our-skills .skill .progress-two {
  background-color: #dedadc;
  height: 30px;
  width: 100%;
  position: relative;
}

.our-skills .skill .progress-two::before {
  content: "";
  background-color: var(--main-color);
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.our-skills .skill .progress-two::after {
  content: "85%";
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 85%;
  transform: translateX(-50%);
  top: -120%;
}
.our-skills .skill .progress-three {
  background-color: #dedadc;
  height: 30px;
  width: 100%;
  position: relative;
}

.our-skills .skill .progress-three::before {
  content: "";
  background-color: var(--main-color);
  width: 80%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.our-skills .skill .progress-three::after {
  content: "80%";
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 80%;
  transform: translateX(-50%);
  top: -120%;
}
.our-skills .skill .progress-four {
  background-color: #dedadc;
  height: 30px;
  width: 100%;
  position: relative;
}

.our-skills .skill .progress-four::before {
  content: "";
  background-color: var(--main-color);
  width: 90%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.our-skills .skill .progress-four::after {
  content: "90%";
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 90%;
  transform: translateX(-50%);
  top: -120%;
}

.quote {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/quote.jpg");
  position: relative;
  background-size: cover;
  color: white;
  text-align: center;
}

.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.quote .text {
  position: relative;
  z-index: 2;
  margin: 50px 0;
}

.quote .text q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

.pricing {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pricing .cols {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  text-align: center;
}

.pricing .cols .price {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.pricing .cols .price .type {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pricing .cols .price .number {
  font-size: 60px;
  font-weight: bold;
  position: relative;
}

.pricing .cols .price .number::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}

.pricing .cols .price .number::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}

.pricing ul li {
  padding: 20px;
  position: relative;
}

.pricing ul li::after {
  content: "";
  height: 1px;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
}

.pricing button {
  padding: 20px 20px;
  border: 1px solid var(--main-color);
  /* width: fit-content; */
  margin: 30px auto;
  background-color: white;
  transition: 0.5s;
}

.pricing button:hover {
  color: white;
  background-color: var(--main-color);
}

.footer {
  padding: 30px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  color: white;
  position: relative;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.footer .container {
  position: relative;
}

.footer img {
  margin-bottom: 20px;
}

.footer h3 {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}

.footer .icons i {
  padding: 10px 15px;
}

.footer p {
  margin-top: 60px;
}
