.parent {
  background-color: red;
  padding: 10px;
  /* border: 10px solid red; */
  /* width: 300px; */
  /* margin: auto; */
  /* height: 70px; */
}

.parent div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  /* display: inline-block; */
  float: left;
  width: calc((100% - 150px) / 4);
  margin-left: 30px;
  /* margin: auto; */
}

.clear {
  clear: both;
}

.body {
  margin: 0;
}
