.one,
.two,
.three {
  /* font-variant: small-caps; */
  padding: 10px;
  margin: auto;
  /* margin: auto; */
  margin-bottom: 12px;
  background-color: rgb(189, 221, 226);
  width: 30%;
  /* text-shadow: 2px 2px 2px red; */
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
body {
  border-bottom: 3px solid green;
  font-size: 40px;
}
.one {
  color: red;
  border-bottom: 3px solid red;
  /* width: fit-content; */
}

.two {
  color: blue;
  border-bottom: 3px solid blue;
}

.three {
  color: green;
  border-bottom: inherit;
}

.color {
  color: blueviolet;
  background-color: aqua;
  width: fit-content;
  margin: auto;
  /* text-shadow: 4px 0px 1px black; */
  border-bottom: 2px solid red;
}

.font {
  font-size: 2rem;
}
