table {
  width: 70%;
  margin: auto;
  border-spacing: 1px;
  /* margin-top: 60px; */
}

table td {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(243, 239, 211, 0.916);
  border: 0px solid rgb(113, 109, 109);
  padding: 10px;
}

table thead td {
  text-align: center;
  /* border-width: 0px; */
  background-color: black;
  color: white;
  font-weight: bold;
}

.container {
  background-color: yellow;
  height: 1000px;
}

.cat {
  background-image: url("cat.jpg");
  /* background-color: red; */
  height: 1000px;
  background-size: contain;
  background-repeat: no-repeat;
}
